<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/PageHome">Le Bon Samaritain</a>

        <div class="navbar-nav">
            <a class="nav-link" href="/">Demandes</a>
            <a class="nav-link" href="/">Profil</a>
            <a class="nav-link" href="/PageNewAd">Nouvelle Annonce</a>
        </div>

        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Ex : Tableau à craie" aria-label="Recherche">
            <button class="btn btn-outline-success" type="submit">Recherche</button>
        </form>
    </div>
</nav>